<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>
    <%= title %>
  </title>
</head>

<body>
  <nav>
    <% if (user) { %>
      <a href="/logout">Log Out</a>
    <% } else { %>
      <a href="/auth/google">Log In</a>
    <% } %>
    <!--  add -> if (!user?.artistProf) so a user can't override their artist profile-->
        |
        <a href="/artist-profs/new">ARTIST Sign Up</a>
    <% if (user?.artistProf) { %>
      |
      <a href="/posts/new">POST</a>
      |
      <a href="/posts">My Posts</a>
    <% } %>
    |
    <a href="/artist-profs">View Artists</a>
  </nav>
  <main>