<%- include('../partials/header') %>

<section class="hero has-background-grey-lighter is-small">
    <div class="hero-body mt-2">
      <p class="title has-text-centered">
        Following
      </p>
    </div>
</section>

<div class="my-container">
    <% artists.forEach(a => { %>
        <%- include('../partials/artist-prof', {artist: a}) %>
    <% }); %>
</div>

<%- include('../partials/footer') %>